@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");


body
{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.header
{
	text-transform: lowercase;
	text-align: center;
	margin: 20px 0 30px 0;
	font-size: 2em;
	font-weight: 550;
	border-bottom: 1px solid #eee;
	padding: 10px 0 28px 0;
	font-family: serif;
	margin-bottom: 35px;
}

.icon-content{
	float: left;
	width: 70%;
}

.icon{
	float: left;
	width: 30%;
	margin-top: 8px;
}

.ma
{
	width: 80px;
	padding-top: -5px;
}

.ba
{
	width: 80px;
	padding-top: -5px;
	float: left;
}

.ca
{
	width: 80px;
	padding-top: -5px;
	float: left;
}

.ms
{
	font-weight: 600;
	font-size: 1.5em;
}

.basic
{
	margin-left: 180px;
    /* margin-bottom: -38px; */
    margin-top: -60px;
    font-weight: 600;

}

.sc
{
	color: gray;
}

.scr
{
	color: gray;
}

.sss
{
	font-weight: 600;
	font-size: 1em;
}

.basi
{
	margin-left: 180px;
    /* margin-bottom: -38px; */
    margin-top: -80px;
    font-weight: 600;
}

.png
{
	margin: 0 0 10px;
}

.bas
{
	margin-left: 180px;
    /* margin-bottom: -38px; */
    margin-top: -80px;
    font-weight: 600;
}

.form-group
{
	padding-top: 10px;
}

.save
{
	font-weight: 600;
	margin-left: 30px;
	margin-top: -16px;
}

span
{
	color: #92bdadde;
	letter-spacing: 0.5;
}

.article
{
	color: #92bdadde;
	letter-spacing: 0.5;
}

.arrow
{
	color: #92bdadde;
	letter-spacing: 0.5;
}

.arrows
{
	color: #92bdadde;
	letter-spacing: 0.5;
}

.use
{
	list-style: none;
	float: left;
	text-align: center;
	display: block;
	padding: 0 0 0 230px;
	font-weight: 550;
	letter-spacing: 0.5px;
	cursor: pointer;
}

.list
{
	display: -webkit-inline-box;
	padding: 0 0 10px 20px;
	justify-content: flex-start;
	margin: 0 20px 0 0;
    margin-left: 75px;
}
.list h5
{
	font-weight: 600;
	cursor: pointer;
}
.list h5 i
{
	font-weight: 800;
}

.no
{
	padding: 7px 0 0 20px;
	color: gray;
}

.container h1
{
	font-size: 4em;
	font-weight: 600;
	color: black;
	font-family: system-ui;
}

.container .btn
{
	padding: 12px 75px;
    margin-top: 50px;
    font-weight: 550;
    cursor: pointer;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: inherit;
}

.container .btn:focus
{
	outline: none;
}
.searchterm
{
	width: 215px;
	position: relative;
	padding: 10px;
	border: 2px solid #eee;
	outline: none;
	font-family: system-ui;
	color: #00000080;
}

.searchbtn
{
	position: absolute;
	width: 45px;
	height: 43.5px;
	border: 1px solid #eee;
	background-color: #000;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-weight: 300;
}

.searchbtn:focus
{
	outline: none;
}

.mystyle
{
	width: 82px;
	padding-top: 50px;
	align-items: center;
	padding-left: 25px;
}

.hi
{
	font-size: 1em;
	font-weight: 550;
	padding-left: 33px;
	letter-spacing: -1px;
	padding-bottom: 15px;
}
.g
{
	font-size: 0.7em;
	font-size: bold;
	padding-left: 10px;
	font-weight: 550;
	color: gray;
	cursor: pointer;
}

.yes
{
    margin-top: 40px;
    font-family: system-ui;
    font-weight: 550;
}

.sir
{
	margin-top: 50px;
	margin-left: 10px;
	padding-left: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: system-ui;
    font-size: 1.05em;
}

.one
{
	width: 695px;
	padding-left: 25px;
}

.in
{
	font-size: 1.5em;
	font-weight: 700;
}

.bton
{
	padding: 6px 15px;
    margin-top: 20px;
    font-weight: 550;
    cursor: pointer;
    margin-bottom: 100px;
    cursor: pointer;
    border: 1px solid #eee;
    font-family: system-ui;
    margin-left: 25px;
}


.bton:focus
{
	outline: none;
}

.spane
{
	margin-bottom: 30px;
}

.row1
{
	border-top: 1px solid #eee;
	margin-bottom: 100px;
}

.img
{
	padding-top: 80px;
    width: 90px;
    padding-bottom: 10px;
}

.add
{
	padding-left: 10px;
}


.para
{
	float: left;
	display: block;
    padding: 0 100px;
    margin-bottom: 60px;
}

.iam
{
	float: left;
	width: 90px;
	padding-top: 80px;
	margin: -3px;
    margin-left: 250px;
}

.ade
{
	margin-left: 100px;

}

.now
{
	color: #fff;
	background-color: #000;
	padding: 10px 30px 10px 30px;
	border: 1px solid #000;
	margin-top: 10px;
	margin-bottom: 40px;
}


section#feature{
	background-color: #000000eb;
	color: #fff;
	padding: 250px 0 100px 0;
	overflow: auto; 
}


.form-control 
{
   border-radius: none;
}

.footer
{
	background: #000;
	padding: -5px;
}

.high
{
	color: #fff;
	margin-top: -170px;
	font-family: system-ui;
	cursor: pointer;
}

.aricles
{
	font-family: system-ui;
	font-size: 1.2em;
	font-weight: 600;
	cursor: pointer;
}


label
{
	position: relative;
	width: 80px;
	height: 80px;
	cursor: pointer;
	border-radius: 50%;
}

label .btn
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 80%;
	width: 80%;
	background: #0000006b;
	border-radius: 50%;
	margin-left: 1230px;
    margin-top: -45px;
}

.form-controle {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    max-width: 100%;
}

.nav
{
	margin-left: 75px;
}

.form-controle:focus {
    outline: 0;
}


@media (max-width: 991px)
{
	header
	{
		
		padding: 20px 50px;
	}
	span
	{
		padding-left: 220px;
	}
	.use
	{
	    float: left;
	    display: block;
	    padding: 0 0 0 168px;
	    font-weight: 550;
	    letter-spacing: 0.5px;
	    cursor: pointer;
	}
	.article {
	    margin-left: -215px;
	}
	.container h1 {
	    margin: 19px;
	}
	.mystyle, .hi, .g{
		margin-left: 300px;
	}
	.icon-content
	{
		margin-left: -105px;
	}
	.arrow{
	    margin-left: -220px;
	}
	.ba
	{
		margin-left: 620px;
		margin-top: -100px;
	}
	.row
	{
		margin-bottom: 30px;
	}
	.png
	{
		margin-left: 190px;
	}
	.arrows
	{
    	margin-left: 270px;
	}
	.ca
	{
		margin-left: 620px;
		margin-top: -95px;
	}
	.col-md-3 {
	    width: 25%;
	    padding: 1px;
    	margin-left: 10px;
	}
	.searchbtn
	{
		margin-left: 215px;
   	 	margin-top: -45px;
	}
	label .btn
	{
		margin-left: 870px;
	}
	.high
	{
		margin-top: 10px;
	}
	.col-md-4
	{
		margin-right: 120px;
	}

}
